.changepassword{
    margin:auto;
    text-align: center;
    box-shadow:1px 1px 3px 3px rgb(76,154,42);
    width: 500px;
    
}

.Confirmbuttonstyle {
    margin-left: 45px;
    width: 30%;
    height: 30px;
    background-color: rgb(76, 154, 42);
    border: none;
    color: white;
    margin-top: 20px;
}

.Textboxcss {
    margin-left:15px;
}
